/* Styles spécifiques aux pages d'œuvre */
.oeuvre-page .oeuvre-details {
    margin-bottom: 30px;
}

.oeuvre-page .oeuvre-details h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
}

.oeuvre-page .oeuvre-details .description {
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: justify;
}

.oeuvre-page .oeuvre-details .oeuvre-galerie {
    display: flex; /* Utilisation de flexbox pour l'affichage en ligne */
    flex-direction: column; /* Empilement vertical des images */
    gap: 20px; /* Espacement entre les images */
}

.oeuvre-page .oeuvre-details .oeuvre-galerie img {
    width: 100%; /* Les images prennent toute la largeur disponible */
    height: auto; /* La hauteur s'ajuste proportionnellement */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.oeuvre-page p a {
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 10px; /* Distance depuis le bas de l'écran */
    left: 10px; /* Distance depuis la gauche de l'écran */
    z-index: 100; /* S'assure que les liens sont au-dessus des autres éléments */
    /* background-color: rgba(244, 248, 244, 0.8); /* Retirez ou commentez le fond si vous ne le souhaitez pas */
    padding: 10px; /* Conservez le padding pour l'espace autour des icônes */
    border-radius: 5px; /* Conservez l'arrondi si vous le souhaitez */
}

.social-links {
    display: flex;
    gap: 10px; /* Augmente l'espacement entre les icônes */
    align-items: center; /* Alignement vertical des icônes */
    margin-left: 10px; /* Ajoute une marge à gauche pour l'éloigner du bord */
}

.social-links a:hover {
    opacity: 0.7; /* Léger effet de transparence au survol */
}
